body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10;
    background-image: url('e:\tarea de diseño web\FONFO ROSA.jpeg');
    background-size: cover;
    color: #e4980a;
    text-align: center;
    background-color: rgba(15, 15, 15, 0.829);
    
}
header {
    background-color: rgba(243, 20, 169, 0.5);
    padding: 20px;
    text-align: center;
}

header h1 a {
    color: #8f0813;
    text-decoration: none;
}

header .escudo,
header .logo {
    width: 90px;
    margin: 10px;
}

header p {
    margin: 5px 0;
}

.boton{
    display: inline-block;
    background-color: rgb(230, 35, 132);
    border-radius: 20px;
    color: rgba(2, 8, 15, 0.87);
    padding: 15px 30px;
    text-align: left;
    font-size: 20px;
    transition: background-color 2s ease;
}
.boton:hover {
    background-color: rgb(48, 2, 29);
    color: rgb(223, 168, 19);

}
.boton1{
    display: inline-block;
    background-color: rgb(184, 5, 5);    
    border-radius: 25px;
    color: rgb(161, 167, 175);
    padding: 15px 30px;
    text-align: left;
    font-size: 20px;
    transition: background-color 2s ease;
}
.boton1:hover {
    background-color: rgb(25, 224, 42);
    color: rgb(253, 133, 35);
}

